/* ESERCIZIO 1 */

.ex-1-square{
    transition: 2s;
}

/* Hover on */
.ex-1-square:hover{
    background-color: red;
}

/* ESERCIZIO 2 */

.ex-2-square{
    transition: 2s;

}
/* Active on */

.ex-2-square:active{
    width: 100%;
}

/* ESERCIZIO 3 */

.ex-3-square{
    transition: 0.5s;
}

/* Hover on */
.ex-3-square:hover{
    border-radius: 100%;
    /* Capire differenza con 50% */
}

/* ESERCIZIO 4 */

.ex-4-square{
    transition: 1s;
}

/* Hover on */
.ex-4-square:hover{
    opacity: 0;
}

/* ESERCIZIO 5 */

.ex-5-square{
    transition:1s;
}

/* Hover on */
.ex-5-square:hover{
    transform: scale(2);
}

/* Active on */
.ex-5-square:active{
    transform: scale(.5);
}

/* ESERCIZIO 6 */

/* Hover on */

.ex-6-img:hover{
    filter: grayscale(1);
}

/* ESERCIZIO 7 */

.ex-7-img{
    transition: 2s;
}

/* Hover on */
.ex-7-img:hover{
    filter:grayscale(.6) sepia(.5)
}

/* ESERCIZIO 8 */

.ex-8-img{
    transition: 1s;
}

/* Hover on */
.ex-8-img:hover{
    border-radius: 30px;
    filter: grayscale(.5) sepia(.5);
}

/* ESERCIZIO 9 */

.ex-9-img{
    transition: 1s;
}

/* Hover on */
.ex-9-img:hover{
    transform: scale(1.5);
    border-radius: 20px;
    filter: grayscale(.6) sepia(.5);
}

/* ESERCIZIO 10 */

.ex-10-icon{
    animation: rotate linear 1s infinite;
}

/* Animation ROTATE */

@keyframes rotate{
    from {
        transform: rotate(1turn);
    }
}

/* ESERCIZIO 11 */

.ex-11-icon:hover{
    animation: slow-rotate 2s linear;
    
}

/* Animation LOW-ROTATE */

@keyframes slow-rotate{
    0%{
        transform: rotate(0);
    }

    90%{
        transform: rotate(315deg);
    }

    100%{
        transform: rotate(0);
    }
}

/* ESERCIZIO 12 */

.ex-12-button:hover .ex-12-top-white{
    animation: movetop 2s linear forwards;
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: movebottom 2s linear forwards;
}


/* Animation movetop */
@keyframes movetop{
    0%{
        left:10%
    }

    50%{
        left: 70%;
    }

    100%{
        left: 10%;
    }
}

/* Animation movebottom */
@keyframes movebottom{
    0%{
        right: 20%;
    }

    50%{
        right: 70%;
    }

    100%{
        right: 20%
    }
}




