/* ESERCIZIO 1 */

.ex-1-square{
    transition: 2s;
}

/* Hover on */
.ex-1-square:hover{
    background-color: red;
}

/* ESERCIZIO 2 */

.ex-2-square{
    transition: 2s;

}
/* Active on */

.ex-2-square:active{
    width: 100%;
}

/* ESERCIZIO 3 */

.ex-3-square{
    transition: 0.5s;
}

/* Hover on */
.ex-3-square:hover{
    border-radius: 100%;
    /* Capire differenza con 50% */
}

/* ESERCIZIO 4 */

.ex-4-square{
    transition: 1s;
}

/* Hover on */
.ex-4-square:hover{
    opacity: 0;
}

/* ESERCIZIO 5 */

.ex-5-square{
    transition:1s;
}

/* Hover on */
.ex-5-square:hover{
    transform: scale(2);
}

/* Active on */
.ex-5-square:active{
    transform: scale(.5);
}

/* ESERCIZIO 6 */

/* Hover on */

.ex-6-img:hover{
    filter: grayscale(1);
}

/* ESERCIZIO 7 */

.ex-7-img{
    transition: 2s;
}

/* Hover on */
.ex-7-img:hover{
    filter:grayscale(.6) sepia(.5)
}




